:root {
    --primary-color: #2E3A46;
    --secondary-color: #4A5A6A;
    --accent-color: #F9A825;
    --text-color: #FFFFFF;
    --background-color: #2E3A46;
    --navigation-color: #0a0a23;
    --footer-bg-end: #0a0a23; 
    --footer-bg-start: #2E3A46; 
    --gradient-height: 25vh; 
}
/* MAIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center; 
    text-decoration: none;
}

.logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem; 
    color: var(--text-color); 
    font-weight: bold;
    text-shadow: 2px 0 15px var(--text-color);
    text-decoration: none;
}

nav {
    flex: 1; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    text-shadow: 2px 0 20px var(--text-color); 
}

nav ul li a:hover {
    color: var(--accent-color);
}

header {
    background-color: var(--navigation-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    transform: translateY(100px);
    opacity: 0;
    animation: slide-down 1s ease-in-out forwards 1s;
    box-shadow: 2px 0 15px var(--text-color);
}

main {
    padding: 4rem 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.section {
    display: none;
    padding: 2rem;
    color: var(--text-color);
    border-radius: 8px;
    transition: transform 0.3s ease;
    background-color: var(--background-color);
}

.section.active {
    display: block;
}

.gradient {
    background: linear-gradient(to top, var(--footer-bg-end), var(--footer-bg-start));
    height: 10vh;
}

/* FOOTER */
footer {
    background: var(--footer-bg-end);
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0 1rem;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-section p {
    margin: 0;
}

.social-media a {
    color: var(--text-color);
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: var(--accent-color);
}

.footer-bottom {
    border-top: 1px solid var(--text-color);
    padding-top: 1rem;
    margin-top: 1rem;
}

.loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--navigation-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: slide-up-screen 2s ease-in-out forwards; 
}

.loading-screen img {
    width: 150px;
    box-shadow: 0px 2px 50px 4px var(--text-color);
}

@keyframes slide-up-screen {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    border: 2px white solid;
    box-shadow: 2px 0 15px var(--navigation-color);
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.title-home {
    margin: 1.8rem 0 1rem 0;
    font-size: 2rem;
    text-shadow: 3px 3px 20px var(--text-color);
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    margin-right: 1rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 1rem;
}

.nav-list li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: var(--accent-color);
}

@media (max-width: 1024px) {
    .header-container {
        justify-content: space-between;
    }

    .logo-text {
        font-size: 1.5rem;
    }

    nav ul {
        align-items: center;
        justify-content: space-around;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .carousel {
        height: 400px;
    }

    .title-home {
        font-size: 1.5rem;
    }

    .section {
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .logo img {
        height: 40px;
    }

    .logo-text {
        font-size: 1rem;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--navigation-color);
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 1rem 0;
    }

    .menu-toggle {
        display: block;
    }

    .carousel {
        height: 300px;
    }

    .prev-btn, .next-btn {
        padding: 5px;
    }

    .title-home {
        font-size: 1.2rem;
    }

    .section {
        padding: 1rem;
    }

    .gradient {
        height: 5vh;
    }
}

@media (max-width: 480px) {
    .header-container {
        padding: 0.5rem;
    }

    .logo img {
        height: 30px;
    }

    .logo-text {
        font-size: 0.8rem;
    }

    .carousel {
        height: 250px;
    }

    .prev-btn, .next-btn {
        padding: 3px;
    }

    .title-home {
        font-size: 1rem;
    }

    .section {
        padding: 0.5rem;
    }

    .gradient {
        height: 3vh;
    }

    .social-media a {
        font-size: 1.2rem;
    }
}

/* Tambahkan ini ke dalam file CSS Anda */

.header-container {
    position: relative;
}

.menu-toggle {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 1024px) {
    .header-container {
        padding: 1rem;
    }

    .logo-text {
        font-size: 1.2rem;
    }

    .carousel {
        height: 400px;
    }

    .title-home {
        font-size: 1.5rem;
    }

    .section {
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--navigation-color);
        padding: 1rem;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 0.5rem 0;
    }

    .carousel {
        height: 300px;
    }

    .prev-btn, .next-btn {
        padding: 5px;
    }

    .title-home {
        font-size: 1.2rem;
    }

    .section {
        padding: 1rem;
    }

    .gradient {
        height: 5vh;
    }
}

@media (max-width: 480px) {
    .header-container {
        padding: 0.5rem;
    }

    .logo img {
        height: 30px;
    }

    .logo-text {
        font-size: 0.8rem;
    }

    .carousel {
        height: 250px;
    }

    .prev-btn, .next-btn {
        padding: 3px;
    }

    .title-home {
        font-size: 1rem;
    }

    .section {
        padding: 0.5rem;
    }

    .gradient {
        height: 3vh;
    }

    .social-media a {
        font-size: 1.2rem;
    }
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--navigation-color);
        padding: 1rem;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 0.5rem 0;
    }
}